.header-mobile {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    padding: 16px;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    width: 100%;
    height: max-content;
    background: #fff;
    border-radius: 0 0 16px 16px;
    // box-shadow: 2px 4px 12px #0001;

    .header-mobile__right {
        gap: 16px;
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        align-items: center;

        .header-mobile__image {
            width: 36px;
            height: 36px;
        }
    }
}
